<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->

<head>
    <meta charset="utf-8" />
    <title>Login Page</title>
    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        .loginbox-textbox img{
            width: 100%;
        }
    </style>
</head>
<!--Head Ends-->
<!--Body-->

<body>
{$Think.lang.hello_thinkphp}
</body>
<!--Body Ends-->

</html>