<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>快递网</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/index.css" rel="stylesheet"/>
</head>
<body>
{$Think.lang.hello_thinkphp}
<div style="TEXT-ALIGN: center;">
    <div style="margin-top:25px; margin-left:auto;margin-right:auto;">
        <div>
            <span class="lg_login lg"><img src="assets/img/track.png" style="width:45px; height:45px;">&nbsp;&nbsp;包&nbsp;裹&nbsp;查&nbsp;询</span>
            <div>
                <form method="post" action="http://www.ecotransite.com/cgi-bin/GInfo.dll?EmmisTrack" target="_self">
                    <input type="hidden" name="w" value="ecotransite">
                    <input type="hidden" name="ntype" value="1000">
                    <textarea style="width:205px;height:120px;margin-top:20px;border:1px dashed #ff7514;color:#999999;"
                              name="cno" class="M_track" id="cno"
                              onfocus="this.value=''">输入单号跟踪包裹,最多可输入30个单号,每个单号占一行。</textarea>
                    <div style="margin-left:160px;margin-top:10px;">
                        <input class="btn-warning " type="submit" value=" OK ">
                    </div>
                </form>
            </div>
            <div>

            </div>
        </div>
    </div>
</body>
</html>